hnlLastStopCellInfo = '(
                           ( "lf11is" "nmos1v2hvt_4" "auCdl" "47" "1657839782" )
                          ( "lf11is" "pmos1v2hvt_4" "auCdl" "47" "1657839782" )
                          ( "lf11is" "rnpolyh_i" "auCdl" "157" "1657839782" )
                          ( "lf11is" "pnp5ux5u" "auCdl" "38" "1657839782" )
                          ( "lf11is" "cmims" "auCdl" "30" "1657839782" )
                          ( "lf11is" "rnpolym_i" "auCdl" "157" "1657839782" )
                          ( "lf11is" "ncap1v2hvt" "auCdl" "127" "1657839782" )
                       )
hnlLastTopViewWasConfig = 0
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastNetlistRevision = "__Revision2"
hnlLastOptimizeCellGenerationInConfig = nil
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "AnaCommon" "1777359604" )
                   ( "REF_GEN" "1777918870" )
                   ( "Si3" "1770019264" )
                   ( "lf11is" "1657839782" )
                  )
hnlLastDesignVars = '( )
